<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/knuckle/knuckle.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/proximal/proximal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/middle/middle.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/distal/distal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/lfmetacarpal/lfmetacarpal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/biotac/biotac.urdf.xacro" />
  <!-- lf is true for little finger or false for standard finger -->
  <!-- tip_sensor describes the sensor none, bio, bt_sp, ubi, eli -->
  <!-- mid_sensor describes the sensor none, bio, ubi -->
  <!-- prox_sensor describes the sensor none, standard, ubi -->
  <!-- reflect is either 1 (for right hand) or -1 (for left hand) -->
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <!-- link_prefix prepends fingername to the link names -->
  <!-- joint_prefix prepends fingername to the joint names -->
  <!-- parent is the parent link for the first joint -->
  <xacro:macro name="finger"
  params="tip_sensor:=^|'std' mid_sensor:=^|'std' prox_sensor:=^|'std' reflect:=^ prefix:=^ link_prefix joint_prefix parent *origin *axis">

    <!-- Little finger special case -->
    <xacro:if value="${'lf' in link_prefix}">
      <xacro:lfmetacarpal parent="${parent}" />
      <!-- Knuckle -->
      <xacro:knuckle parent="${prefix}lfmetacarpal">
        <xacro:insert_block name="origin" />
      </xacro:knuckle>
    </xacro:if>
    <!-- Standard finger -->
    <xacro:unless value="${'lf' in link_prefix}">
      <!-- Knuckle -->
      <xacro:knuckle parent="${parent}">
        <xacro:insert_block name="origin" />
      </xacro:knuckle>
    </xacro:unless>
    <!-- Proximal -->
    <xacro:proximal parent="${prefix}${link_prefix}knuckle"></xacro:proximal>
    <!-- Biotac Middle -->
    <xacro:if value="${'bio' in tip_sensor}">
      <xacro:biotac_middle parent="${prefix}${link_prefix}proximal">
      </xacro:biotac_middle>
    </xacro:if>
    <!-- Standard Middle -->
    <xacro:unless value="${'bio' in tip_sensor}">
      <xacro:middle parent="${prefix}${link_prefix}proximal"></xacro:middle>
    </xacro:unless>
    <!-- Distal  -->
    <!-- only if finger is not biotac  -->
    <xacro:unless value="${'bio' in tip_sensor}">
      <xacro:distal parent="${prefix}${link_prefix}middle"></xacro:distal>
    </xacro:unless>
  </xacro:macro>
</robot>
