<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="middle_transmission" params="hand_type:=^ prefix:=^ joint_prefix:=^ link_prefix:=^">
        <!-- muscle hand -->
        <xacro:if value="${hand_type == 'hand_c'}">
            <transmission name="${prefix}${link_prefix}middle_transmission">
                <type>sr_mechanism_model/J0TransmissionForMuscle</type>
                <actuator name="${prefix}${joint_prefix}J0">
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
                <joint name="${prefix}${joint_prefix}J1">
                    <hardwareInterface>EffortJointInterface</hardwareInterface>
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                </joint>
                <joint name="${prefix}${joint_prefix}J2">
                    <hardwareInterface>EffortJointInterface</hardwareInterface>
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                </joint>
                <mechanicalReduction>1</mechanicalReduction>
            </transmission>
        </xacro:if>
        <!-- motor hand -->
        <xacro:unless value="${hand_type == 'hand_c'}">
            <transmission name="${prefix}${link_prefix}middle_transmission">
                <type>sr_mechanism_model/J0Transmission</type>
                <actuator name="${prefix}${joint_prefix}J0">
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
                <joint name="${prefix}${joint_prefix}J1">
                    <hardwareInterface>EffortJointInterface</hardwareInterface>
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                </joint>
            </transmission>
        </xacro:unless>
    </xacro:macro>
</robot>
