<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<launch>
  <arg name="rviz_config" default="test_hands.rviz" />
  <param name="robot_description" command="cat $(arg robot)" />

  <!-- publish joint values and open rviz -->
  <group unless="$(optenv URDF_ONLY 0)">
    <!-- open joint_state_publisher_gui -->
    <node name="joint_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" required="true" />

    <!-- publish transforms of all robot links -->
    <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(dirname)/$(arg rviz_config)" />
  </group>
</launch>