<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="shadowhand_palm_transmission">

    <transmission name="palm_transmission">
	  <type>sr_mechanism_model/SimpleTransmissionForMuscle</type>
	  <joint name="WRJ1"/>
	  <actuator name="WRJ1">
	    <hardwareInterface>Robot</hardwareInterface>
	  </actuator>
	</transmission>
    
  </xacro:macro>

</robot>
