<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="thhub_gazebo" params="prefix:=^">
    <gazebo reference="${prefix}thhub">
      <!-- hub is inside the proximal and not exposed, so bumper is not needed -->
      <selfCollide>false</selfCollide>
    </gazebo>
  </xacro:macro>
</robot>
