<launch>
  <arg name="robot_param" default="sh_description" />
  <group if="$(optenv MUSCLE 0)">
    <group if="$(optenv LEFT_HAND 0)">
      <param name="$(arg robot_param)"
      command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_c hand_version:=C6M2 side:=left fingers:=all tip_sensors:=pst"/>
    </group>
    <group unless="$(optenv LEFT_HAND 0)">
      <param if="$(optenv BIOTAC_HAND 0)" name="$(arg robot_param)"
      command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_c hand_version:=C6M2 side:=right fingers:=all tip_sensors:=bt_sp"/>
      <param unless="$(optenv BIOTAC_HAND 0)"
      name="$(arg robot_param)"
      command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_c hand_version:=C6M2 side:=right fingers:=all tip_sensors:=pst"/>
    </group>
  </group>
  <group unless="$(optenv MUSCLE 0)">
    <group if="$(optenv ONE_FINGER 0)">
      <param name="$(arg robot_param)"
      command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=ff tip_sensors:=pst" />
    </group>
    <group unless="$(optenv ONE_FINGER 0)">
      <group if="$(optenv LEFT_HAND 0)">
        <param name="$(arg robot_param)"
        command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=all tip_sensors:=pst" />
      </group>
      <group unless="$(optenv LEFT_HAND 0)">
        <group if="$(optenv THREE_FINGER 0)">
          <param name="$(arg robot_param)"
          command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=th,ff,mf tip_sensors:=pst" />
        </group>
        <group unless="$(optenv THREE_FINGER 0)">
          <group if="$(optenv FF_BIOTAC 0)">
            <param name="$(arg robot_param)"
            command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=all tip_sensors:=bt_sp" />
          </group>
          <group unless="$(optenv FF_BIOTAC 0)">
            <group if="$(optenv BTSP_HAND 0)">
              <param name="$(arg robot_param)"
              command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=all tip_sensors:=bt_sp" />
            </group>
            <group unless="$(optenv BTSP_HAND 0)">
          <group if="$(optenv HAND_LITE 0)">
                <param name="$(arg robot_param)"
                        command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_g hand_version:=G1M5 side:=right fingers:=all tip_sensors:=pst" />
          </group>
          <group unless="$(optenv HAND_LITE 0)">
                <group if="$(optenv HAND_EXTRA_LITE 0)">
                  <param name="$(arg robot_param)"
                          command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_g hand_version:=G1M5 side:=right fingers:=th,ff,mf tip_sensors:=pst" />
            </group>
            <group unless="$(optenv HAND_EXTRA_LITE 0)">
                  <param if="$(optenv BIOTAC_HAND 0)"
                    name="$(arg robot_param)"
                    command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=all tip_sensors:=bt_sp" />
                  <param unless="$(optenv BIOTAC_HAND 0)"
                    name="$(arg robot_param)"
                    command="xacro '$(find sr_description)/robots/sr_hand.urdf.xacro' hand_type:=hand_e hand_version:=E3M5 side:=right fingers:=all tip_sensors:=pst" />
                </group>
          </group>
            </group>
          </group>
      </group>
      </group>
    </group>
  </group>
</launch>
