<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="bimanual_shadowhand_motor">

  <xacro:include filename="$(find sr_description)/other/xacro/materials.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/hand/xacro/hand.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/other/xacro/gazebo.urdf.xacro"/>

  <xacro:arg name="arm_x_separation" default="-0.4"/>

  <xacro:arg name="right_hand_type" default="hand_e"/>
  <xacro:arg name="right_hand_version" default="E3M5"/>
  <xacro:arg name="right_fingers" default="all"/>
  <xacro:arg name="right_tip_sensors" default="pst"/>
  <xacro:arg name="right_mid_sensors" default="none"/>
  <xacro:arg name="right_prox_sensors" default="none"/>
  <xacro:arg name="right_palm_sensor" default="none"/>
  <xacro:arg name="right_mounting_plate" default="false"/>

  <xacro:arg name="left_hand_type" default="hand_e"/>
  <xacro:arg name="left_hand_version" default="E3M5"/>
  <xacro:arg name="left_fingers" default="all"/>
  <xacro:arg name="left_tip_sensors" default="pst"/>
  <xacro:arg name="left_mid_sensors" default="none"/>
  <xacro:arg name="left_prox_sensors" default="none"/>
  <xacro:arg name="left_palm_sensor" default="none"/>
  <xacro:arg name="left_mounting_plate" default="false"/>

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="rh_forearm" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  
  <xacro:sr_hand side="right" hand_type="$(arg right_hand_type)" hand_version="$(arg right_hand_version)"
                 fingers="$(arg right_fingers)" tip_sensors="$(arg right_tip_sensors)" mid_sensors="$(arg right_mid_sensors)"
                 prox_sensors="$(arg right_prox_sensors)" palm_sensor="$(arg right_palm_sensor)" mounting_plate="$(arg right_mounting_plate)"/>

  <xacro:sr_hand side="left" hand_type="$(arg left_hand_type)" hand_version="$(arg left_hand_version)"
                 fingers="$(arg left_fingers)" tip_sensors="$(arg left_tip_sensors)" mid_sensors="$(arg left_mid_sensors)"
                 prox_sensors="$(arg left_prox_sensors)" palm_sensor="$(arg left_palm_sensor)" mounting_plate="$(arg left_mounting_plate)"/>

  <joint name="right_hand_to_left_hand" type="fixed">
    <parent link="rh_forearm" />
    <child link="lh_forearm" />
    <origin xyz="$(arg arm_x_separation) 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>