<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:if value="${[p for p in [bio, bt_sp, eli] if p is not None]}">
    ${xacro.warning('Deprecated use of shadowhand macro: Replace parameters bio, bt_sp, eli with [tip|mid|prox|palm]_sensors.')}
  </xacro:if>

  <!-- for backward compatibility define new params from old ones -->
  <xacro:if value="${bio}">
    <xacro:property name="palm_sensor" value="std" />
    <xacro:property name="prox_sensors" value="${['std', 'std', 'std', 'std', 'std']}" />
    <xacro:property name="mid_sensors" value="${['bio', 'bio', 'bio', 'bio', 'bio']}" />
    <xacro:property name="tip_sensors" value="${['bio', 'bio', 'bio', 'bio', 'bio']}" />
  </xacro:if>
  <xacro:if value="${bt_sp}">
    <xacro:property name="palm_sensor" value="std" />
    <xacro:property name="prox_sensors" value="${['std', 'std', 'std', 'std', 'std']}" />
    <xacro:property name="mid_sensors" value="${['std', 'std', 'std', 'std', 'std']}" />
    <xacro:property name="tip_sensors" value="${['bt_sp', 'bt_sp', 'bt_sp', 'bt_sp', 'bt_sp']}" />
  </xacro:if>
  <xacro:if value="${eli}">
    <xacro:property name="palm_sensor" value="std" />
    <xacro:property name="prox_sensors" value="${['std', 'std', 'std', 'std', 'std']}" />
    <xacro:property name="mid_sensors" value="${['std', 'std', 'std', 'std', 'std']}" />
    <xacro:property name="tip_sensors" value="${['eli', 'eli', 'eli', 'eli', 'eli']}" />
  </xacro:if>
</robot>
