<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- for backward compatibility define new params from old ones -->
  <xacro:property name="old_tip_sensor" value="${(1 if bio==True else 0) + (1 if bt_sp==True else 0) + (1 if eli==True else 0)}"/>
  <!-- if old parameters are used, valid only if sum is 1 -->
  <xacro:if value="${old_tip_sensor==1}">
    <xacro:if value="${bio}">
      <xacro:property name="palm_sensor" value="std"/>
      <xacro:property name="prox_sensor" value="${[std, std, std, std ,std]}"/>
      <xacro:property name="mid_sensor" value="${[bio, bio, bio, bio ,bio]}"/>
      <xacro:property name="tip_sensor" value="${[bio, bio, bio, bio ,bio]}"/>
    </xacro:if>
    <xacro:if value="${bt_sp}">
      <xacro:property name="palm_sensor" value="std"/>
      <xacro:property name="prox_sensor" value="${[std, std, std, std ,std]}"/>
      <xacro:property name="mid_sensor" value="${[std, std, std, std ,std]}"/>
      <xacro:property name="tip_sensor" value="${[bt_sp, bt_sp, bt_sp, bt_sp ,bt_sp]}"/>
    </xacro:if>
    <xacro:if value="${eli}">
      <xacro:property name="palm_sensor" value="std"/>
      <xacro:property name="prox_sensor" value="${[std, std, std, std ,std]}"/>
      <xacro:property name="mid_sensor" value="${[std, std, std, std ,std]}"/>
      <xacro:property name="tip_sensor" value="${[eli, eli, eli, eli ,eli]}"/>
    </xacro:if>
  </xacro:if>

  <xacro:if value="${muscle}">
    <xacro:if value="${muscletrans}">
      <xacro:property name="hand_type" value="hand_mt"/>
    </xacro:if>
    <xacro:unless value="${muscletrans}">
      <xacro:property name="hand_type" value="hand_m"/>
    </xacro:unless>
  </xacro:if>
  <xacro:unless value="${lf}">
    <xacro:property name="fingers" value="${[1,1,1,1,0]}"/>
  </xacro:unless>

</robot>
