<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sr_description)/hand/xacro/forearm/forearm_lite.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/wrist/wrist.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/palm/palm_lite.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/fingers.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/thumb/thumb.urdf.xacro" />

  <!-- hand_type can be: motor, motor+, muscle (muscle), muscletrans (muscletrans) -->
  <!-- fingers: list-like string specifying available fingers, default: 'th ff mf rf' -->
  <!-- tip_sensors: plain or dict-like string specifying the fingertip (tactile) sensors: 'th=bio ff=bt_sp mf=eli rf=std, lf=none' -->
  <!-- mid_sensors: plain or dict-like string specifying the middle-phalange (tactile) sensors -->
  <!-- prox_sensors: plain or dict-like string specifying the proximal (tactile) sensors -->
  <!-- palm_sensor: specifies the palm tactile sensor: std, none -->
  <!-- reflect is either 1 (for right hand) or -1 (for left hand) -->
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <!-- extra_lite (deprecated) describes if the hand is extra_lite, i.e. without MF -->
  <!-- muscletrans (deprecated) is true for muscle transmission to be used, false to use motor transmission -->
  <!-- muscle (deprecated) is true for muscle hand or false for motor hand -->
  <!-- bio (deprecated) is true for biotac finger or false for standard finger -->
  <!-- bt_sp (deprecated) is true for BT_SP finger or false for standard finger -->
  <!-- eli (deprecated) is true for ellipsoid fingertip or false for standard finger -->
  <xacro:macro name="shadowhand" params="hand_type:='motor' reflect prefix cable_mesh:=False fingers:=all
          tip_sensors:=std mid_sensors:=std prox_sensors:=std palm_sensor:=std
          extra_lite:=^|${None} muscletrans:=^|${None} muscle:=^|${None} bio:=^|${None} bt_sp:=^|${None} eli:=^|${None}">
    <!-- Unify hand type parameter, also handling deprecated muscletrans, muscle -->
    <xacro:include filename="$(find sr_description)/hand/xacro/process_hand_type_parameter.xacro" />
    <!-- Process fingers parameter, also handling deprecated extra_lite -->
    <xacro:property name="_all_finger_tokens_" value="${python.set('th ff mf rf'.split())}" />
    <xacro:include filename="$(find sr_description)/hand/xacro/process_fingers_parameter.xacro" />
    <!-- Process sensor parameters -->
    <xacro:include filename="$(find sr_description)/hand/xacro/process_sensor_parameters.xacro" />

    <!-- Forearm -->
    <xacro:forearm />
    <!-- Wrist -->
    <!-- Completely fixed on the lite hand. Bent back at 40 degrees -->
    <joint name="${prefix}WRJ1" type="fixed">
      <parent link="${prefix}forearm" />
      <child link="${prefix}palm" />
      <origin xyz="0 -0.015 0.149" rpy="-${40*pi/180} 0 0" />
      <axis xyz="0 ${reflect} 0" />
    </joint>
    <!-- Palm -->
    <xacro:palm parent="${prefix}wrist" />
    <!-- First Finger -->
    <xacro:if value="${'ff' in fingers}">
      <xacro:finger link_prefix="ff" joint_prefix="FF" tip_sensor="${tip_sensors.ff}" prox_sensor="${prox_sensors.ff}" mid_sensor="${mid_sensors.ff}"
                    parent="${prefix}palm">
        <origin xyz="${reflect*0.033} 0 0.095" rpy="0 0 0" />
        <axis xyz="0 ${-1*reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Middle Finger -->
    <xacro:if value="${'mf' in fingers}">
      <xacro:finger link_prefix="mf" joint_prefix="MF" tip_sensor="${tip_sensors.mf}" prox_sensor="${prox_sensors.mf}" mid_sensor="${mid_sensors.mf}"
                    parent="${prefix}palm">
        <origin xyz="${reflect*0.011} 0 0.099" rpy="0 0 0" />
        <axis xyz="0 ${-1*reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Ring Finger -->
    <xacro:if value="${'rf' in fingers}">
      <xacro:finger link_prefix="rf" joint_prefix="RF" tip_sensor="${tip_sensors.rf}" prox_sensor="${prox_sensors.rf}" mid_sensor="${mid_sensors.rf}"
                    parent="${prefix}palm">
        <origin xyz="${reflect*-0.011} 0 0.095" rpy="0 0 0" />
        <axis xyz="0 ${reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- No Little Finger on Lite hand -->
    <!-- Thumb  -->
    <xacro:if value="${'th' in fingers}">
      <xacro:thumb is_lite="1" parent="${prefix}palm" tip_sensor="${tip_sensors.th}" prox_sensor="${prox_sensors.th}" mid_sensor="${mid_sensors.th}" />
    </xacro:if>
  </xacro:macro>
</robot>
