<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sr_description)/hand/xacro/forearm/forearm_lite.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/wrist/wrist.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/palm/palm_lite.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/fingers.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/thumb/thumb.urdf.xacro" />

  <!-- hand_type describes the hand type, hand_e, hand_e_plus, hand_m (muscle) -->
  <!-- extra_lite (deprecated) describes if the hand is extra_lite -->
  <!-- muscletrans (deprecated) is true for muscle transmission to be used, false to use motor transmission -->
  <!-- muscle (deprecated) is true for muscle hand or false for motor hand -->
  <!-- bio (deprecated) is true for biotac finger or false for standard finger -->
  <!-- bt_sp (deprecated) is true for BT_SP finger or false for standard finger -->
  <!-- ubi (deprecated) is true for ubi finger or false for standard finger -->
  <!-- eli (deprecated) is true for ellipsoid fingertip or false for standard finger -->
  <!-- tip_sensors vector that describes the sensor std, none, bio, bt_sp, ubi, eli -->
  <!-- mid_sensors vector that describes the sensor std, none, bio, ubi -->
  <!-- prox_sensors vector that describes the sensor std, none, ubi -->
  <!-- palm_sensor describes the sensor none, bumper, ubi -->
  <!-- reflect is either 1 (for right hand) or -1 (for left hand) -->
  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <xacro:macro name="shadowhand"
  params="hand_type:='hand_e' reflect prefix cable_mesh:=False
          fingers:=${[1,1,1,1]} tip_sensors:=${['std','std','std','std']} prox_sensors:=${['std','std','std','std']}
          mid_sensors:=${['std','std','std','std']} palm_sensor:=std
          muscletrans:=False muscle:=False lf:=True extra_lite:=False bio:=False bt_sp:=False ubi:=False eli:=False">
    <!-- handle deprecated parameters -->
    <xacro:include filename="$(find sr_description)/hand/xacro/backward_compat.urdf.xacro" />
    
    <xacro:if value="${extra_lite}">
      <xacro:property name="fingers" value="${[1,0,1,1]}"/>
    </xacro:if>

    <!-- Forearm -->
    <xacro:forearm />
    <!-- Wrist -->
    <!-- Completely fixed on the lite hand. Bent back at 40 degrees -->
    <joint name="${prefix}WRJ1" type="fixed">
      <parent link="${prefix}forearm" />
      <child link="${prefix}palm" />
      <origin xyz="0 -0.015 0.149" rpy="-${40*pi/180} 0 0" />
      <axis xyz="0 ${reflect} 0" />
    </joint>
    <!-- Palm -->
    <xacro:palm parent="${prefix}wrist" />
    <!-- First Finger -->
    <xacro:if value="${fingers[1] == 1}">
      <xacro:finger link_prefix="ff" joint_prefix="FF" tip_sensor="${tip_sensors[1]}"
                    prox_sensor="${prox_sensors[1]}" mid_sensor="${mid_sensors[1]}"
                    parent="${prefix}palm">
        <origin xyz="${reflect*0.033} 0 0.095" rpy="0 0 0" />
        <axis xyz="0 ${-1*reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Middle Finger -->
    <xacro:if value="${fingers[2] == 1}">
      <xacro:finger link_prefix="mf" joint_prefix="MF" tip_sensor="${tip_sensors[2]}"
                    prox_sensor="${prox_sensors[2]}" mid_sensor="${mid_sensors[2]}"
                    parent="${prefix}palm">
        <origin xyz="${reflect*0.011} 0 0.099" rpy="0 0 0" />
        <axis xyz="0 ${-1*reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Ring Finger -->
    <xacro:if value="${fingers[3] == 1}">
      <xacro:finger link_prefix="rf" joint_prefix="RF" tip_sensor="${tip_sensors[3]}"
                    prox_sensor="${prox_sensors[3]}" mid_sensor="${mid_sensors[3]}"
                    parent="${prefix}palm">
        <origin xyz="${reflect*-0.011} 0 0.095" rpy="0 0 0" />
        <axis xyz="0 ${reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- No Little Finger on Lite hand -->
    <!-- Thumb  -->
    <xacro:if value="${fingers[0] == 1}">
      <xacro:thumb is_lite="1" parent="${prefix}palm" tip_sensor="${tip_sensors[0]}"
                   prox_sensor="${prox_sensors[0]}" mid_sensor="${mid_sensors[0]}" />
    </xacro:if>
  </xacro:macro>
</robot>
