<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find sr_description)/hand/xacro/validate_macros.xacro" />
	<xacro:if value="${fingers.lower() == 'all'}">
		<xacro:property name="fingers" value="${list(_all_finger_tokens_)}" />
	</xacro:if>
	<xacro:unless value="${python.isinstance(fingers, list)}">
		<!-- Transform string parameter into a list -->
		<xacro:property name="fingers" value="${xacro.tokenize(fingers)}" lazy_eval="false" />
	</xacro:unless>
	<!-- Normalize finger tokens to lower case -->
	<xacro:property name="fingers" value="${[f.lower() for f in fingers]}" lazy_eval="false" />
	<!-- Validate finger tokens -->
	<xacro:validate_tokens tokens="${fingers}" valid="${_all_finger_tokens_}" name="finger specifier" />
	<!-- Handle deprecated lf parameter -->
	<xacro:property name="lf" default="${None}" />
	<xacro:if value="${lf is not None}">
		<!-- If lf was set (i.e. is not None), remove it from fingers if needed -->
		<xacro:property name="fingers" value="${list(python.set(fingers) - python.set(['lf'] if not lf else []))}" lazy_eval="false" />
		${xacro.warning('Parameter "lf" is deprecated. Please use fingers="tf ff mf rf" instead!')}
	</xacro:if>
	<!-- Unset parameter to indicate that we processed it -->
	<xacro:property name="lf" remove="true" />
	<!-- Handle deprecated extra_lite parameter -->
	<xacro:property name="extra_lite" default="${None}" />
	<xacro:if value="${extra_lite is not None}">
		<!-- extra_lite hand doesn't have mf -->
		<xacro:property name="fingers" value="${list(python.set(fingers) - python.set(['mf'] if extra_lite else []))}" lazy_eval="false" />
		${xacro.warning('Parameter "extra_lite" is deprecated. Please use fingers="tf ff rf" instead!')}
	</xacro:if>
	<!-- Unset parameter to indicate that we processed it -->
	<xacro:property name="extra_lite" remove="true" />
</robot>
