<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="shadowhand" params="muscletrans muscle bio bt_sp eli reflect prefix">
    ${xacro.warning("The file three_biotac_fingers_hand.urdf.xacro is deprecated", print_location=False)}
    ${xacro.warning("Use full_hand.urdf.xacro instead with tip_sensors='th=bt_2p ff=bt_2p mf=bt_2p'")}
    <!-- forward to generic macro -->
    <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
    <!-- BioTacs on First and Middle Finger as well as Thumb -->
    <xacro:shadowhand reflect="${reflect}" prefix="${prefix}" tip_sensors="th=bt_2p ff=bt_2p mf=bt_2p" />
  </xacro:macro>
</robot>
